.header {
  display: flex;
  background-color: rgb(0, 60, 67);
  height: 120px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 90px;
  margin-left: 40px;
  transition: transform 0.3s ease;
  
}

.logo:hover {
  height: 90px;
  margin-left: 40px;
  cursor: pointer;

}

.header-nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-family: Poppins, Arial;
  font-size: 22px;
  font-weight: 500;
}

.header-offert {
  background-color: rgb(238, 247, 255);
  color: black;
  font-size: 22px;
  font-family: Poppins, Arial;
  font-weight: 500;
  border: 3px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.7);
  cursor: pointer;
  margin-right: 40px;
}


.footer {
  display: flex;
  flex-direction: row;
  font-family: Poppins, Arial;
  background-color: rgb(0, 60, 67);
  height: 220px;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 60px;
  color: white;
}

.footer-h {
  font-size: 20px;
  font-weight: 500;

}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-mail-link {
  color: inherit;
  
  text-decoration: underline;

}