.header {
  display: flex;
  background-color: rgb(0, 60, 67);
  height: 120px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 90px;
  margin-left: 40px;
  transition: transform 0.3s ease;
  
}

.logo:hover {
  height: 90px;
  margin-left: 40px;
  cursor: pointer;

}

.header-nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-family: Poppins, Arial;
  font-size: 22px;
  font-weight: 500;
}

.header-offert {
  background-color: rgb(238, 247, 255);
  color: black;
  font-size: 22px;
  font-family: Poppins, Arial;
  font-weight: 500;
  border: 3px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.7);
  cursor: pointer;
  margin-right: 40px;
}


.footer {
  display: flex;
  flex-direction: row;
  font-family: Poppins, Arial;
  background-color: rgb(0, 60, 67);
  height: 220px;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 60px;
  color: white;
}

.footer-h {
  font-size: 20px;
  font-weight: 500;

}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-mail-link {
  color: inherit;
  
  text-decoration: underline;

}

.translate-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  color: white;
  width: 40px;
  margin-right: 40px;
  filter: invert(100%) brightness(200%);
  transition: -webkit-transform 0.3s ease; /*Safari*/
  transition: transform 0.3s ease; /*Standard*/
}
  
.hamburger-icon.move-left {
  -webkit-transform: translateX(-150px); /*Safari*/
  transform: translateX(-150px); /*Standard*/
  /* Adjust this value as needed */
}


.dropdown-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  font-family: Poppins, Arial;
  top: 0px;
  right: 0px;
  background-color: rgba(119, 176, 170);
  z-index: 1000;
  border-radius: 5px;
  height: calc(100vh);
  width: 190px;
  transition: all 0.3s ease;
  opacity: 0;
  
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-top: 40px;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 18px;
  
}

.dropdown-menu a:hover {
  background-color: white;
}

/* Responsive styles */
@media (max-width: 900px) {
  .header-nav {
    display: none;
  }

  .header-offert {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }
}

.dropdown-menu.show {
  display: flex;
  opacity: 1;
  
  
}